@include font-face("Museo", $dir-font + "museoslab-300") {
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@include font-face("Museo", $dir-font + "museoslab-500") {
  font-display: swap;
  font-style: normal;
  font-weight: bold;
}
