*:focus {
  border-radius: var(--border-radius--small);
  outline: 0;
}

fieldset {
  border: 0;
  border-radius: var(--border-radius--base);
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: var(--space--small);
  padding: var(--space--small);
  width: fit-content;
}

legend {
  @include hide-visually;
}

label {
  align-items: center;
  border-radius: var(--border-radius--base);
  cursor: pointer;
  display: grid;
  grid-auto-columns: min-content auto;
  grid-auto-flow: column;
  grid-gap: var(--space--x-small);
  justify-content: center;
  padding: var(--space--x-small);
}

[type="radio"] {
  $_button_size: 1.25rem;

  @include prefixer(appearance, none, ("webkit", "moz"));
  @include size($_button_size);

  background-color: var(--color--color-selector-bg);
  border: var(--border--base);
  border-radius: var(--border-radius--circle);
  cursor: pointer;
  display: grid;
  place-content: center;

  &[disabled],
  &[aria-disabled=true] {
    opacity: 0.5;
  }

  &::before {
    @include size($_button_size);

    background-color: transparent;
    border-radius: var(--border-radius--circle);
    content: "";
    display: block;
    transform: scale(0.5);
  }

  &:focus {
    background-color: var(--color--color-selector-bg);
  }
}
