fieldset {
  border: 0;
  border-radius: var(--border-radius--base);
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: var(--space--small);
  padding: 0.5rem;
  width: fit-content;
}

legend {
  @include hide-visually;
}

[type="radio"] {
  @include hide-visually;
}

[type="radio"] + label {
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
  display: grid;
  grid-auto-columns: min-content auto;
  grid-auto-flow: column;
  grid-gap: var(--space--xsmall);
  justify-content: center;
  padding: 0.25rem;

  &::before {
    border: 1px solid #c5b4af;
  }

  &::after {
    transform: scale(0.5);
  }

  &::before,
  &::after {
    @include size(1.25rem);

    background-color: transparent;
    border-radius: 50%;
    content: "";
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    place-self: center;
  }
}

[type="radio"]:checked+label::after {
  background-color: #c5b4af;
}

*:focus {
  background-color: var(--color--olive);
  border-radius: 2px;
  color: var(--color--white);
  outline: 0;
  padding: 0.25rem;
}

[type="radio"]:focus + label {
  background-color: var(--color--blush);
  border-radius: 2px;
}
