body {
  display: grid;
  margin: 0 auto;

  @media screen and (min-width: #{$breakpoint}) {
    grid-template-columns: 1fr 5fr;
    justify-content: center;
  }
}

main {
  display: grid;
  grid-row-gap: 2.5rem;
  padding: 2.5rem;

  @media screen and (min-width: #{$breakpoint}) {
    order: 2;
  }
}

body > header {
  background-color: var(--color--white);
  padding: 2.5rem;
  position: sticky;

  @media screen and (min-width: #{$breakpoint}) {
    height: 100vh;
    order: 1;
    top: 0;
  }
}

body > footer {
  display: grid;
  grid-gap: var(--space--medium);
  grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
  order: 3;
  padding: 2.5rem;
  position: relative;

  @media screen and (min-width: #{$breakpoint}) {
    grid-column-start: 2;
  }
}

.color-selector {
  @include position(fixed, null 1rem 1rem null);

  @media screen and (min-width: #{$breakpoint}) {
    position: static;
  }
}
