body {
  background-color: var(--color--main-bg);
  color: var(--color--text);
}

a {
  color: var(--color--text);
  font-weight: var(--font-weight--bold);
  text-decoration-color: var(--color--text);
  text-decoration-thickness: var(--border-width--base);
  transition: text-decoration-color var(--transition-timing--base) ease-in-out;

  &:hover {
    text-decoration-color: var(--color--border);
  }
}

body > header {
  background-color: var(--color--header-bg);
}

body > footer {
  background-color: var(--color--main-bg);
  border-top: var(--border--base);
}

*:focus {
  background-color: var(--color--focus-bg);
  color: var(--color--focus-color);
}

.color-selector {
  background-color: var(--color--color-selector-bg);
  border: var(--border--base);
}

[type="radio"]:checked::before {
  background-color: var(--color--color-selector-radio);
}

label:focus-within {
  background-color: var(--color--main-bg);
}
