html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--font-family--base);
  font-weight: var(--font-weight--normal);
  line-height: var(--line-height--base);
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 0.9rem;
}

h2 {
  align-items: center;
  display: grid;
  font-size: 0.65rem;
  font-weight: normal;
  grid-gap: 1rem;
  grid-template-columns: auto 1fr;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h3 {
  font-size: 1.2rem;
}

p,
legend,
label, {
  font-size: 0.8rem;
}
