html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--font-family--base);
  font-weight: var(--font-weight--normal);
  line-height: var(--line-height--base);
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 1rem;
}

p {
  font-size: 0.8rem;
}

h2 {
  font-size: 0.7rem;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
