html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--font-family--primary);
  font-size: var(--font-size--body);
  font-weight: var(--font-weight--normal);
  line-height: var(--line-height--base);
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: var(--font-size--title);
}

h2 {
  font-size: var(--font-size--eyebrow);
  font-weight: var(--font-weight--normal);
  letter-spacing: 1px;
  text-transform: uppercase;
}

h3 {
  font-size: var(--font-size--section-header);
}

label {
  font-weight: var(--font-weight--bold);
}
