$bourbon: (
  "global-font-file-formats": ("woff2"),
);

$dir-font: "/static/fonts/";

$breakpoint: 35rem;

:root {
  --color--white: #ffffff;
  --color--blush: #f9f1ef;
  --color--blush--dark: #f9f1ef;
  --color--blush--darker: #efe5e2;
  --color--blush--darkest: #e5d4cf;
  --color--olive: #59594a;
  --color--olive--dark: #4b4b45;

  --color--text: var(--color--olive--dark);
  --color--text--light: var(--color--olive);
  --color--bg: var(--color--blush);

  --font-family--base: "Museo", sans-serif;

  --line-height--base: 1.5;
  --line-height--tight: 1.1;

  --container--base: 70rem;

  --space--xsmall: 0.25rem;
  --space--small: 0.5rem;
  --space--base: 1rem;
  --space--medium: 1.5rem;
  --space--large: 3rem;
  --space--x-large: 5rem;

  --border-radius--base: 5px;

  --transition-timing--base: 0.2s;
}
