<fieldset>
  <legend>Color format</legend>
  <div class="radio-wrapper">
    <input type="radio" name="format" id="input--hex" value="hex" checked>
    <label for="input--hex">Hex</label>
  </div>
  <div class="radio-wrapper">
    <input type="radio" name="format" id="input--rgb" value="rgb">
    <label for="input--rgb">RGB</label>
  </div>
</fieldset>
