<fieldset class="color-selector">
  <legend>Color format</legend>
    <label for="input--hex">
      <input type="radio" name="format" id="input--hex" value="hex" checked>
      Hex
    </label>
    <label for="input--rgb">
      <input type="radio" name="format" id="input--rgb" value="rgb">
      RGB
    </label>
</fieldset>
