<footer id="footer">
  <section>
    <h2>Methodology</h2>
  </section>
  <section>
    <h2>Chapter images</h2>
  </section>
  <section>
    <h2>Other Monument Valley Palettes</h2>
  </section>
  <section>
    <h2>Source Code</h2>
  </section>
</footer>
