<header>
  <h1>Monument Palettes</h1>
  <p>Find all the color palettes for the game, <a href="https://www.monumentvalleygame.com/mv1">Monument Valley Ⅰ</a>.</p>
  {% include "color-selector.njk" %}
  <p><a href="#about-this-project">About this project</a></p>
  <p><a href="https://github.com/enatario/monument-palettes">Github</a></p>
</header>
