<header>
  <h1>Monument Palettes</h1>
  <p>Find all the color palettes for the game, <a href="https://www.monumentvalleygame.com/mv1">Monument Valley Ⅰ</a>.</p>

  <fieldset>
    <legend>Color format</legend>
    <input type="radio" name="format" id="input--hex" value="hex" checked>
    <label for="input--hex">Hex</label>
    <input type="radio" name="format" id="input--rgb" value="rgb">
    <label for="input--rgb">RGB</label>
  </fieldset>

  <p><a href="#">About this project</a></p>
  <p><a href="https://github.com/enatario/monument-palettes">Github</a></p>
</header>
