<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ metadata.title }}</title>
<meta name="description" content="{{ metadata.description }}">
<meta name="author" content="{{ metadata.author }}" />
<link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
<link rel="manifest" href="/static/favicons/site.webmanifest">
<link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/static/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<meta property="og:title" content="{{ metadata.title }}">
<meta property="og:description" content="{{ metadata.description }}">
<meta property="og:type" content="website">
<meta content="en_US" property="og:locale">
<meta property="og:url" content="{{ metadata.url }}">
<meta content="{{ metadata.url }}/static/social/mv-og.png" property="og:image">
<meta content="Multicolored geometric color blocks in the shape of mountains stacked behind and in front of one another." property="og:image:alt">
<meta content="632" property="og:image:width">
<meta content="600" property="og:image:height">
