$typefaces: (
  primary: "Museo"
);

$type-weights: (
  regular: 300,
  bold: 600
);

$type-pixel-scale: (
  small: 11,
  base: 13,
  medium: 18,
  large: 22
);

$type-sizes: (
  body: base,
  eyebrow: small,
  title: medium,
  section-header: large
);

$line-heights: (
  base: 1.5
);
