$typefaces: (
  primary: "Museo"
);

$type-weights: (
  regular: 300,
  bold: 600
);

$type-pixel-scale: (
  small: 12,
  base: 14,
  medium: 16,
  large: 18,
  x-large: 22
);

$type-sizes: (
  body: base,
  eyebrow: medium,
  title: large,
  section-header: x-large
);

$line-heights: (
  base: 1.5
);
