.palette {
  --color-shadow: var(--color--palette-border);

  background-color: var(--color--palette-bg);
  border-radius: var(--border-radius--base);
  box-shadow:
    var(--space--small)
    var(--space--small) 0 0
    var(--color-shadow);
  overflow: hidden;
  transition: box-shadow 0.25s ease-in-out;

  &:hover {
    --color-shadow: var(--color--palette-shadow);
  }
}

.palette__item {
  border-radius: var(--border-radius--base);
  display: grid;
  grid-template-columns: 1fr 1.25fr;
}

.palette__color {
  width: 100%;
}

.palette__value {
  margin: 0;
  padding: var(--space--small);

  span {
    font-weight: var(--font-weight--bold);
  }
}

.palette__item:not(:last-of-type) .palette__value {
  border-bottom: var(--border-width--base) solid var(--color--palette-border);
}
