.palette {
  background-color: white;
  border-radius: 5px;
  box-shadow: 9px 9px 0px 0px #efe5e2;
  overflow: hidden;
}

.palette__item {
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.palette__color {
  width: 100%;
}

.palette__value {
  color: #9e9494;
  font-size: 0.8rem;
  font-weight: normal;
  margin: 0;
  padding: 0.5rem;

  span {
    color: #484846;
    font-weight: bold;
  }
}

.palette__item:not(:last-of-type) .palette__value {
  border-bottom: 3px solid #f9f1ef;
}
