.palette {
  --color--box-shadow: var(--color--blush--darker);

  background-color: var(--color--white);
  border-radius: var(--border-radius--base);
  box-shadow: var(--space--small) var(--space--small) 0 0 var(--color--box-shadow);
  overflow: hidden;
  transition: box-shadow 0.25s ease-in-out;

  &:hover {
    --color--box-shadow: var(--color--blush--darkest);
  }
}

.palette__item {
  border-radius: var(--border-radius--base);
  display: grid;
  grid-template-columns: 1fr 1.25fr;
}

.palette__color {
  width: 100%;
}

.palette__value {
  color: var(--color--olive);
  font-size: 0.8rem;
  font-weight: normal;
  margin: 0;
  padding: var(--space--small);

  span {
    color: var(--color--olive--dark);
    font-weight: bold;
  }
}

.palette__item:not(:last-of-type) .palette__value {
  border-bottom: 3px solid var(--color--blush--dark);
}
