<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/Webpage">
<head>
  {% include "meta.njk" %}
  <link rel="stylesheet" href="/app.css" as="style">
  <link rel="preload" href="/static/fonts/museoslab-300.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/static/fonts/museoslab-500.woff2" as="font" type="font/woff2" crossorigin>
</head>
<body>
  {% include "header.njk" %}
  <main>
    {{ content | safe }}
  </main>
  {% include "footer.njk" %}
  <script type="text/javascript" src="/app.js" async></script>
</body>
</html>
